/* :root {
  --primary: #0070f3;
  --primary-low-opacity: rgba(0, 112, 243, 0.1);
  --foreground: #09090b;
  --muted-foreground: #71717a;
  --secondary: #f4f4f5;
} */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.logoText {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: white;
}

.logoIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #e0e4eb;
  transition: all 0.3s ease;
  text-align: center;
}

.navLink:hover {
  color: #111827;
  background-color: #f3f4f6;
}

.activeLink {
  color: #2563eb;
  background-color: rgba(37, 99, 235, 0.1);
}

.isScrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.profilePic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2f5adc;
}

.desktopNav {
  display: none;
  align-items: center;
  gap: 0.25rem;
}

.ctaButton {
  display: none;
}

.menuIcon {
  height: 1.8rem;
  width: 1.8rem;
}

.mobileToggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

.mobileToggle:hover {
  color: var(--primary-color);
}

.mobileMenu {
  overflow: hidden;
  transition: all 300ms ease-in-out;
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  display: none;
}

.menuOpen {
  max-height: 24rem;
  opacity: 1;
  margin-top: 1rem;
  display: block;
  position: absolute;
  padding: 0 2rem;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.glassContainer {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navLinkMobile {
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms;
}

.activeLink {
  color: #0070f3;
  background-color: rgba(0, 112, 243, 0.1);
}

.inactiveLink {
  color: #71717a;
}

.inactiveLink:hover {
  color: #09090b;
  background-color: #f4f4f5;
}


@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }

  .mobileToggle {
    display: none;
  }

  .ctaButton {
    display: block;
  }

  .mobileToggleBtn {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
