.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.logoIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isScrolled{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: 12px;
    border-bottom: 1px solid #e5e7eb;
}

.profilePic {
  height: 48px;
  width: 48px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #14b8a6; 
}